In [2]:
import pandas as pd
import sqlalchemy

In [3]:
engine = sqlalchemy.create_engine('sqlite:///fireteam108c.db')

In [5]:
connection = engine.connect()

In [6]:
books_data = pd.read_sql_table('books_data', connection)
books_rating = pd.read_sql_table('books_rating', connection)

books_data = books_data.dropna()
books_rating = books_rating.dropna()
# books_data_test = pd.read_sql_table('books_data', )

In [13]:
drop_columns = ["description", "image", "previewLink", "publisher", "publishedDate", "infoLink"]

books_data_cleaned = books_data.drop(drop_columns, axis=1)

38099

In [22]:
books_data_cleaned.columns

Index(['index', 'Title', 'authors', 'ratingsCount', 'genre'], dtype='object')

In [18]:
books_rating.columns

Index(['index', 'Id', 'Title', 'Price', 'User_id', 'profileName',
       'review/helpfulness', 'review/score', 'review/time', 'review/summary',
       'review/text'],
      dtype='object')

In [21]:
drop_columns = ["review/text", "review/summary", "review/time", "profileName", "Price", ]
books_rating_cleaned = books_rating.drop(drop_columns, axis=1)
display(books_rating_cleaned)

,index,Id,Title,User_id,review/helpfulness,review/score
10,10,0829814000,Wonderful Worship in Smaller Churches,AZ0IOBU20TBOP,8/10,5.0
11,11,0829814000,Wonderful Worship in Smaller Churches,A373VVEU6Z9M0N,1/1,5.0
12,12,0829814000,Wonderful Worship in Smaller Churches,AGKGOH65VTRR4,1/1,5.0
13,13,0829814000,Wonderful Worship in Smaller Churches,A3OQWLU31BU1Y,1/1,5.0
14,14,0595344550,Whispers of the Wicked Saints,A3Q12RK71N74LB,7/11,1.0

In [15]:
books_data.to_csv('books_data.csv', index=False)

In [16]:
books_rating.to_csv('books_rating.csv', index=False)

In [7]:
books_rating[:]

Index(['index', 'Id', 'Title', 'Price', 'User_id', 'profileName',
       'review/helpfulness', 'review/score', 'review/time', 'review/summary',
       'review/text'],
      dtype='object')

In [ ]:
a = [df for _, df in books_rating_cleaned.groupby("Title")]
a

In [35]:
a = [df["review/score"].mean() if df.iloc[0]["Title"] in books_rating_cleaned["Title"] else None for _, df in books_rating_cleaned.groupby("Title")]

avg_column = pd.Series(a, name="avg_review_score")
avg_column

0        None
1        None
2        None
3        None
4        None
         ...
47359    None
47360    None
47361    None
47362    None
47363    None
Name: avg_review_score, Length: 47364, dtype: object

In [33]:
len(books_data_cleaned)

38099

47364

In [31]:
a[5]["review/score"].mean()

4.761904761904762

In [18]:
res = books_data['categories']
pd.DataFrame(res, columns=['categories']).to_csv('categories.csv', index=False)
# set(res)

# books_data_test.to_csv('books_data.csv', index=False)

In [36]:
updated = pd.read_csv("updated_books_data.csv")
updated = updated.drop('categories', axis=1)
updated = updated.rename(columns={'final_genre': 'genre'}).dropna()
updated.to_sql('books_data', connection, if_exists='replace', index=False)

38099

In [ ]:
books_rating

In [9]:
connection.close()