In [2]:
from sklearn.datasets import fetch_california_housing
import pandas as pd
housing = fetch_california_housing()
california_dataset = fetch_california_housing()
dataset = pd.DataFrame(california_dataset.data, columns = california_dataset.feature_names)
display(dataset.head(5))

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(20, 5))