In [ ]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [ ]:
import numpy as np

In [ ]:
host = 'fireteam108c-db.ctq6oauek6z5.us-east-2.rds.amazonaws.com:3306'
user = 'admin108c'
password = 'fireteam108c'
database = 'amazon_books'

In [ ]:
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}/{database}')

In [ ]:
connection = engine.connect()

In [ ]:
books_rating = pd.read_sql_table('books_rating', con=connection)
display(books_rating)

In [ ]:
books_rating['rating'] = books_rating['rating'].astype(float)

In [ ]:
books_ratings = pd.read_sql_table('books_rating_raw', con=connection)
books_ratings

In [ ]:
mask = books_ratings["User_id"].notna() & books_ratings["review/score"].notna() & books_ratings["Title"].notna()
books_ratings = books_ratings.loc[mask]
books_ratings["Title"].unique().shape[0]

In [ ]:
books_ratings = books_ratings.drop_duplicates().drop(columns=["Price"])

In [ ]:
books_ratings

In [ ]:
books_id = pd.read_csv('book_dict_keys.csv')
books_id.drop_duplicates("Title", inplace=True)

In [ ]:
books_id.dropna(inplace=True)

In [ ]:
books_data

In [ ]:
books_data = books_data.merge(books_id, on="Title", how="inner").drop_duplicates("Title")
books_data.to_sql('books_data', con=connection, if_exists='replace', index=False)

In [ ]:
books_ratings.drop_duplicates(["Title", "User_id", "review/summary", "review/text"], inplace=True)
books_ratings.columns

In [ ]:
reviewed_books = books_data[books_data["Title"].isin(books_ratings["Title"])]
reviewed_books.to_sql('reviewed_books', con=connection, if_exists='replace', index=False)

In [ ]:
books_ratings = books_ratings.merge(reviewed_books, on="Title", how="inner")

In [ ]:
books_ratings.to_sql('ratings_user_tagged', con=connection, if_exists='replace', index=False, chunksize=10000)

In [ ]:
connection.rollback()

In [ ]:
reviewed_tagged_books = pd.read_sql_table('books_data', con=connection)

In [ ]:
ratings_user_tagged = pd.read_sql_table('ratings_user_tagged', con=connection)

In [ ]:
ratings_user_tagged

In [ ]:
res = { k: v.get(["book_id", "review/score"]) for k, v in ratings_user_tagged.groupby('User_id').filter(lambda x: len(x) > 10).groupby('User_id')}

In [ ]:
matrix = pd.DataFrame(index=res.keys(), columns = reviewed_tagged_books["book_id"].values)
matrix

In [ ]:
for k, v in res.items():
	t = v.reset_index(drop=True).transpose()
	matrix.loc[k][t.loc["book_id"]] = t.loc["review/score"]
# 4 min 20 sec runtime

In [ ]:
matrix

In [30]:
M = matrix.dropna(axis=1, how='all')
M

,0826414346,0829814000,0963923080,0854968350,0918973031,0792391810,0789480662,0517150328,B000857LFE,1884734766,...,0765306832,B0002RQ1N6,B000BWUJLC,0679783334,0977070808,B0006E1KEK,0812553861,1418016985,0590482467,1402508735
A01038432MVI9JXYTTK5T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A07587253PDB1WFIEPBPY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A100NGGXRQF0AQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A100V1W0C8BWOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A100YDQ9DIP06P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AZY96LU53VWGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZYIHKBD3FZBI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZZ1E6SG4RAT7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZZCSTUZ5EO4I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZZVZL4QEHEHO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
matrix = M

In [35]:
matrix.to_csv("matrix.csv")

In [ ]:
matrix.to_parquet('matrix.parquet.gzip',
              compression='gzip')

In [ ]:
test = pd.read_csv("matrix.csv", index_col=0)
test

In [ ]:
matrix.replace(0, np.nan).isna().sum().sum()

In [ ]:
connection.close()